.dich-vu{
    padding: 1rem;
    &__data{
        margin-top: 2rem;
    }
    &__column1{
        width: 5%;
        @include centerFlexBox();
    }
    &__column2{
        width: 25%;
    }
    &__column3{
        width: 35%;
    }
    &__column4{
        width: 15%;
    }
    &__column5{
        width: 10%;
        @include centerFlexBox();
    }
    &__column6{
        width: 10%;
        @include centerFlexBox();
    }
}