.ql-kho{
    padding: 1rem;
    .ql-nhan-vien__them-moi{
        margin: 0;
    }
    &__head{
        @include flexBox(flex-end, center);
    }
    &__sl{
        padding: .5rem 2rem;
        background-color: #31b7a8;
        color: white;
        font-weight: bold;
        font-size: 1.4rem;
        margin-left: 1rem;
        border-radius: 5px;
    }
    &__button-export{
        cursor: pointer;
        padding: .5rem 2rem;
        font-size: 1.4rem;
        background-color: #2484CC;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        margin-left: 1rem;
    }
    .ql-nhan-vien__search{
        margin-left: 1rem;
    }
    &__body{
        margin-top: 2rem;
    }
    &__column1{
        width: 10%;
        @include centerFlexBox();
    }
    &__column2{
        width: 20%;
    }
    &__column3{
        width: 20%;
    }
    &__column4{
        width: 20%;
    }
    &__column5{
        width: 10%;
    }
    &__column6{
        width: 10%;
    }
    &__column7{
        width: 10%;
    }
}